.page {
  font-family: "Source Code Pro", monospace;
  max-width: 1440px;
  background-color: var(--main-back);
  color: var(--main-text);
  box-sizing: border-box;
  margin: auto;
  padding: 0 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
