.page {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  background-color: var(--main-back);
  color: var(--main-text);
  box-sizing: border-box;
  margin: auto;
  padding: 0 4%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
